*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.main
{
     width: 100%;
     /* height: 100vh; */
    background:linear-gradient(45deg,#08001f,#197d67);
    min-height: 100vh;
    color:#fff;
    /* position: relative; */
    display: flex;
    align-items:center ;
    justify-content: center;
}
.container
{
     width: 450px;
     height: 150px;
    
     /* position: absolute;
     top: 50%;
     right: 50%; */
     /* background-color: beige; */

}
.clock
{  
      width: 100%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
     background-color: beige;
     background: rgba(18, 135, 148, 0.925);
}
.clock span
{
font-size:60px;
width: 60px;
display: inline-block;
position: relative;
text-align: center;
}
.clock span::after{
  
   font-size: 16px;
   position: absolute;
   left: 20%;
   bottom: -20px;
   /* transform: translate(-50%); */
}
 #hrs::after
{
    content: 'Hours';
}
#min::after
{
    content: 'Min';
}
#sec::after
{
    content: 'Sec';
}